base-layout._
	div.locate(:class="{spinned: locating}" @click="locate")
	div.content-wrapper
		div.map-wrapper(:class="{'with-description': showDescriptionUIElement}" )
			div.map(ref="map")
		//- div.debug
			p viewCenter: {{viewCenter}}
			p location: {{location}}
			p ablout: {{about}}
			p markers: {{markers}}
		transition
			DescriptionComponent.description(:class="{active: showDescriptionUIElement}" :marker="this.selectedMarker")
